.catalog{
    margin-top: 59px;
    margin-bottom: 50px;
   &__wrapper{
        position: relative;
        min-height: 1320px;
        background-color: rgba(255, 255, 255, 0.3);;
        border-radius: 10px;
        padding-bottom: 174px;
    }
    &__chosen-filters{
        display: block;
        min-height: 44px;
        margin: 16px 0 16px 0;
        padding-left: 37px;
        transition: all 0.4s;
    }
    &-counter{
        position: relative;
        z-index: 2;
        &:hover{
            .sub-cross{
                color: rgba(254, 199, 9, 0.7);
            }
        }
        &__text{
            cursor: pointer;
            &::after{
                content:"";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: #929292;
                z-index: 2;
            }
            &_active{
                .sub-cross, .sub-scob{
                    color: #FEC709;
                }
            }
            &_active ~ .catalog-counter__menu{
                opacity: 1;
                pointer-events: auto;
                transform: none;
            }
        }
        &__menu{
            position: absolute;
            min-height: 71px;
            width: 100%;
            background-color: #C4C4C4;
            border-radius: 0 0 7px 7px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #000;
            left: 0;
            padding: 9px 14px 0;
            opacity: 0;
            pointer-events: none;
            transform: translateY(-25%);
            transition: all 0.3s;
        }
        &__number{
            height: 44px;
            display: flex;
            align-items: center;
            cursor: pointer;
            &_active{
                color: #fff;
            }
        }
    }
    &-counter, &__chosen-filter, &__chosen-subfilter{
        display: inline-block;
        background-color: #C4C4C4;
        height: 100%;
        border-radius: 7px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #000;
        padding: 9px 14px;
        margin-right: 16px;
        margin-bottom: 10px;
    }
    .button_show-more{
        bottom: 48px;
    }
}
.cross, .sub-cross, .sub-scob{
    display: inline-block;
    color: #929292;
    cursor: pointer;
    font-size: 14px;
    transform: rotate(180deg);
    transition: all 0.2s;
    &:hover{
        color: rgba(254, 199, 9, 0.7);
    }
    &:active{
        color: #FEC709;
    }
}
.sub-scob{
    margin-left: 5px;
    font-size: 22px;
    line-height: 5px;
}
@media(max-width: 1211px){
    .catalog{
        &__chosen-filters{
            padding-left: 24px;
        }
        &__wrapper{
            min-height: 700px;
            padding-bottom: 168px;
        }
        &-counter{
            &__number{
                &:nth-child(n+4){
                    display: none;
                }
            }
        }
    }
}
@media(max-width: 878px){
    .catalog{
        margin-bottom: 36px;
        &__wrapper{
            min-height: 1100px;
            padding-bottom: 150px;
        }
        &__chosen-filters{
            min-height: 36px;
            padding-left: 16px;
            margin-bottom: 0;
        }
        &-counter, &__chosen-filter, &__chosen-subfilter{
            border-radius: 7px;
            font-size: 14px;
            line-height: 17px;
            padding: 9px 12px;
        }
        &-counter{
            &__number{
                &:nth-child(n+3){
                    display: none;
                }
            }
        }
        .button_show-more{
            bottom: 36px;
        }
    }
    .cross, .sub-cross{
        font-size: 14px;
    }
}
@media(max-width: 530px){
    .catalog{
        margin-bottom: 0;
        .container{
            padding: 0;
            max-width: 100%;
        }
        &__wrapper{
            min-height: 960px;
            padding-bottom: 77px;
        }
        &-counter{
            display: none;
        }
        &__chosen-subfilter{
            display: none;
        }
        .button_show-more{
            bottom: 24px;
        }
    }
}