.catalog-filters{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 300px;
    background-color: #3a3a3a;
    border-radius: 10px;
    padding: 18px 100px 12px 36px;
    transition: 0.3s all;
    &__title{
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 288px;
        height: 68px;
        background-color: #FEC709;
        border-radius: 10px 0px;
        padding-left: 37px;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
    }
    &-main{
        width: 288px;
        margin-top: 72px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        color: #fff;
        &__subfilter{
            margin-bottom: 16px;
            transition: all 0.4s;
            cursor: pointer;
            span{
                transition: all 0.4s;
                display: inline-block;
            }
            &:hover{
                color: #FEC709;
                span{
                    transform: rotate(180deg);
                }
            }
            &_active{
                color: #FEC709;
                span{
                    transform: rotate(180deg);
                }
            }
        }
        &::before{
            content: '';
            position: absolute;
            left: 16px;
            display: block;
            width: 5px;
            height: 44px;
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 50px;
        }
    }
    &__parts, &__mark{
        height: 300px;
        column-count: 5;
        column-width: 150px;
        column-gap: 100px;
        transition: 0.3s all;
    }
    &__box{
        list-style: none;
    }
    &__box-with-lr{
        width: 100%;
        display: inline-block;
    }
    &__letter{
        color: #FEC709;
        font-size: 19px;
        line-height: 24px;
    }
    &__filter{
        color: #fff;
        font-size: 19px;
        line-height: 24px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
            color: #FEC709;
        }
    }
    &__mark{
        display: none;
    }
    &__hr{
        display: none;
        height: 3px;
        background-color: #FEC709;
        border: none;
        margin: 18px auto;
    }
    &::after{
        content: '';
        position: absolute;
        right: 16px;
        display: block;
        width: 5px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 50px;
    }
}

@media(max-width: 1600px){
    .catalog-filters{
        justify-content: flex-start;
        padding-right: 0;
        &__title{
            width: 266px;
        }
        &__parts, &__mark{
            column-count: auto;
            height: 415px;
            column-width: 150px;
            margin-left: 40%;
        }
        &__letter, &__filter{
            font-size: 18px;
            line-height: 22px;
        }
        &__hr{
            width: 450%;
            margin-left: 40%;
        }
    }
}
@media(max-width: 1124px){
    .catalog-filters{
        &-main{
            width: 235px;
            &__subfilter{
                font-size: 18px;
                line-height: 22px;
            }
        }
        &__parts, &__mark{
            column-gap: 40px;
            margin-left: 20%;
        }
        &__mark{
            height: 300px;
        }
        &__hr{
            margin-left: 15%;
            width: 390%;
        }
    }
}

@media(max-width: 878px){
    .catalog-filters{
        min-height: 192px;
        &::after{
            display: none;
        }
        &__title{
            width: 236px;
            height: 56px;
            font-size: 20px;
            line-height: 24px;
        }
        &-main{
            width: 190px;
            margin-top: 80px;
            &__subfilter{
                font-size: 16px;
                line-height: 19px;
            }
        }
        &__block{
            height: 192px;
            overflow: auto;
            &::-webkit-scrollbar{
                width: 5px;
                height: 100%;
                background-color: transparent;
                padding-left: 40px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgba(255, 255, 255, 0.6);
                border-radius: 50px;
            }
            &::-webkit-scrollbar-track {
                background-color: none;
            }
        }
        &__parts, &__mark{
            column-count: 3;
            column-width: 100px;
            column-gap: 48px;
            margin-left: 26px;
            height: 330px;
        }
        &__filter, &__letter{
            font-size: 13px;
            line-height: 16px;
        }
        &__hr{
            width: 90%;
            margin: 16px auto;
        }
    }
}