.catalog-filters{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 300px;
    background-color: #3a3a3a;
    border-radius: 10px;
    padding: 18px 100px 12px 36px;
    transition: 0.3s all;
    &__title{
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 288px;
        height: 68px;
        background-color: #FEC709;
        border-radius: 10px 0px;
        padding-left: 37px;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
    }
    &__category{
        display: none;
    }
    &__chosen-subfilter{
        display: none;
    }
    &-main{
        width: 288px;
        margin-top: 72px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        color: #fff;
        &__subfilter{
            display: inline-block;
            position: relative;
            margin-bottom: 16px;
            transition: all 0.4s;
            cursor: pointer;
            span{
                position: absolute;
                font-size: 29px;
                line-height: 10px;
                transition: all 0.4s;
                transform: rotate(-90deg);
                top: 40%;
                right: -20px;
            }
            &:hover{
                color: #FEC709;
                span{
                    transform: rotate(-270deg);
                }
            }
            &_active{
                color: #FEC709;
                span{
                    transform: rotate(-270deg);
                }
            }
            &_hidden{
                display: none;
            }
        }
        #filter-all{
            display: block;
        }
        &::before{
            content: '';
            position: absolute;
            left: 16px;
            display: block;
            width: 5px;
            height: 44px;
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 50px;
        }
    }
    &__block{
        margin-left: 8%;
    }
    &__parts, &__mark{
        display: none;
        opacity: 0;
        pointer-events: none;
        height: 300px;
        column-count: auto;
        column-width: 150px;
        column-gap: 100px;
        transition: 0.3s all;
    }
    &__parts_active, &__mark_active{
        display: block;
        opacity: 1;
        pointer-events: auto;
    }
    &__box{
        list-style: none;
    }
    &__box-with-lr{
        width: 100%;
        display: inline-block;
    }
    &__letter{
        color: #FEC709;
        font-size: 19px;
        line-height: 24px;
    }
    &__filter{
        color: #fff;
        font-size: 19px;
        font-weight: 500;
        line-height: 24px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
            color: #FEC709;
        }
        &_active{
            font-weight: 600;
            text-decoration: underline;
        }
    }
    &__hr{
        display: none;
        width: 760%;
        height: 3px;
        background-color: #FEC709;
        border: none;
        margin: 18px auto;
        &_active{
            display: block;
        }
    }
    &::after{
        content: '';
        position: absolute;
        right: 16px;
        display: block;
        width: 5px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 50px;
    }
}

@media(max-width: 1600px){
    .catalog-filters{
        justify-content: flex-start;
        padding-right: 0;
        &__title{
            width: 266px;
        }
        &-main{
            &__subfilter{
                white-space: nowrap;
                span{
                    top: 35%;
                    font-size: 26px;
                }
            }
        }
        &__block{
            width: 100%;
            padding-left: 36px;
            min-height: 300px;
            margin-left: 0;
        }
        &__parts, &__mark{
            column-count: auto;
            column-gap: 40px;
            height: 300px;
            column-width: 145px;
            margin-left: 0;
        }
        &__mark{
            height: 300px;
        }
        &__letter, &__filter{
            font-size: 18px;
            line-height: 22px;
        }
        &__hr{
            width: 95%;
            margin-left: 0;
        }
    }
}
@media(max-width: 1211px){
    .catalog-filters{
        &-main{
            width: 235px;
            &__subfilter{
                font-size: 18px;
                line-height: 22px;
                span{
                    top: 32%;
                    right: -15px;
                    font-size: 22px;
                }
            }
        }
        &__block{
            width: 176px;
        }
        &__parts, &__mark{
            column-gap: 20px;
            column-width: 140px;
            -webkit-column-count: auto;
            column-count: auto;
            height: 428px;
        }
        &__mark{
            height: 300px;
        }
        &__hr{
            width: 409%;
        }
    }
}

@media(max-width: 960px){
    .catalog-filters{
        min-height: 192px;
        &::after{
            display: none;
        }
        &__title{
            width: 236px;
            height: 56px;
            font-size: 20px;
            line-height: 24px;
        }
        &-main{
            width: 190px;
            margin-top: 68px;
            &__subfilter{
                font-size: 16px;
                line-height: 19px;
                &_hidden{
                    display: block;
                }
            }
        }
        &__block{
            min-height: 170px;
            height: 170px;
            width: 68%;
            overflow: auto;
            &::-webkit-scrollbar{
                width: 5px;
                height: 100%;
                background-color: transparent;
                padding-left: 40px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgba(255, 255, 255, 0.6);
                border-radius: 50px;
            }
            &::-webkit-scrollbar-track {
                background-color: none;
            }
        }
        &__parts, &__mark{
            column-count: 3;
            -webkit-column-count: 3;
            column-width: 100px;
            column-gap: 20px;
            margin-left: 26px;
            height: 330px;
        }
        &__filter, &__letter{
            font-size: 13px;
            line-height: 16px;
        }
        &__hr{
            width: 90%;
            margin: 16px auto;
        }
    }
}
@media(max-width: 530px){
    .catalog-filters{
        background-color: #4F4F4F;
        border-radius: 0;
        padding-left: 14px;
        position: relative;
        &__title{
            display: none;
        }
        &__category{
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-100%);
            width: 134px;
            height: 33px;
            color: #fff;
            font-size: 14px;
            line-height: 17px;
            font-weight: 400;
            background-color: #FEC709;
            padding-left: 16px;
            &::after{
                content: '>';
                display: block;
                font-size: 18px;
                font-weight: 500;
                font-stretch: expanded;
                transform: rotate(90deg);
                position: absolute;
                right: 8px;
                transition: all 0.3s;
            }
            &_active{
                &::after{
                    transform: rotate(270deg);
                }
            }
        }
        &-main{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            min-height: 130px;
            width: 134px;
            transform: translateY(-100%);
            background-color: #EDEDED;
            padding: 7px 0 0 16px;
            transition: all 0.3s;
            margin-top: 0;
            opacity: 0;
            pointer-events: none;
            &__subfilter{
                font-size: 14px;
                line-height: 17px;
                white-space: normal;
                color: #4F4F4F;
                margin-bottom: 8px;
                span{
                    display: none;
                }
            }
            &::before{
                display: none;
            }
            &_active{
                transform: none;
                opacity: 1;
                border-radius: 0px 0px 5px 0px;
                pointer-events: auto;
            }
        }
        &__chosen-subfilter{
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(-100%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(100% - 134px);
            height: 33px;
            background-color: #929292;
            font-size: 13px;
            line-height: 16px;
            color: #fff;
        }
        &__block{
            width: 97%;
            padding-left: 0;
        }
        &__filter{
            font-size: 13px;
            line-height: 17px;
            font-weight: 400;
        }
        &__parts, &__mark{
            column-gap: 14px;
            column-width: 80px;
            height: 355px;
            margin: 0;
            width: 100%;
            overflow: hidden;
        }
        &__mark{
            height: 290px;
            column-gap: 10px;
        }
        &__hr{
            width: 96%;
            margin-left: 0;
        }
    }
}