.modal-opacity{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 6;
}

.modal-center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 651px;
    width: 1200px;
    z-index: 7;
    background: #fff url('../img/modal.jpg') top no-repeat;
    border-radius: 30px;
    border: 5px solid #C4C4C4;
    &__block{
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        left: 5px;
        width: calc(100% - 10px);
        height: 356px;
        background-color: #fff;
        border-radius: 30px 30px 25px 25px;
        padding: 24px;
        margin: 0 auto;
        &::before {
            content: "";
            position: absolute;
            top: -5px;
            bottom: -5px;
            left: -5px;
            right: -5px;
            background: linear-gradient(180deg, #FEC709 40%, rgba(254, 199, 9, 0) 70%);
            border-radius: 30px;
            z-index: -1;
        }
    }
    &__logo{
        width: 124px;
        height: 38px;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
    &__info-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 229px;
    }
    &__gradient{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 229px;
        height: 78px;
        background: linear-gradient(178.82deg, rgba(251, 187, 46, 0.5) 1%, rgba(0, 84, 159, 0.5) 98.99%);  
        border-radius: 10px;
        margin-top: 12px;
    }
    &__info{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 225px;
        height: 74px;
        background-color: #fff;
        border-radius: 10px;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        padding-left: 9px;
        span{
            display: inline;
        }
    }
    .info-max{
        display: none;
    }
    .info-min{
        display: inline;
    }
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        width: 435px;
        height: 92px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(206, 232, 255, 0.8);
        border-radius: 10px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin-left: 16px;
        margin-bottom: 16px;
        &:nth-child(3), &:nth-child(5){
            padding: 0 41px;
        }
    }
}

.modal-card{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: calc(100% / 1.79);
    background-color: #F1F1F1;
    border: 15px solid #C4C4C4;
    border-radius: 30px;
    &__img{
        width: 100%;
        img{
            width: 100%;
            border-radius: 10px 10px 0 0;
        }
    }
    &__info{
        padding-left: 48px;
        padding-bottom: 36px;
    }
    &__title{
        font-weight: 600;
        color: #000;
        font-size: 48px;
        line-height: 58px;
        margin: 24px 0;
    }
    &__text{
        font-weight: 300;
        color: #4F4F4F;
        font-size: 36px;
        line-height: 43px;
    }
}

.modal-opacity, .modal-center{
    display: none;
    opacity: 0;
}
@media(max-width: 1640px){
    .modal-center{
        height: 510px;
        width: 925px;
        background: #fff url('../img/modal.jpg') top/contain no-repeat;
        &__block{
            height: 55%;
            padding: 29px 21px;
        }
        &__logo{
            width: 90px;
            height: 26px;
            margin-bottom: 5px;
        }
        &__info-wrap{
            width: 148px;
        }
        &__gradient{
            width: 148px;
            height: 50px;
        }
        &__info{
            width: 144px;
            height: 46px;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
        }
        &__item{
            width: 340px;
            height: 61px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }
    }
    .modal-card{
        width: 636px;
        border: 5px solid #C4C4C4;
        border-radius: 10px;
        &__info{
            padding-left: 36px;
            padding-bottom: 23px;
        }
        &__title{
            font-size: 24px;
            line-height: 29px;
            margin: 24px 0;
        }
        &__text{
            font-size: 20px;
            line-height: 24px;
        }
    }
}
@media(max-width: 980px){
    .modal-center{
        width: 655px;
        height: 353px;
        &__block{
            height: 56%;
            padding: 8px;
        }
        &__logo{
            width: 68px;
            height: 20px;
            margin-bottom: 0;
        }
        &__info-wrap{
            width: 127px;
        }
        &__gradient{
            width: 127px;
            height: 44px;
            margin-top: 7px;
        }
        &__info{
            width: 123px;
            height: 40px;
            font-size: 11px;
            line-height: 14px;
            padding-left: 4px;
        }
        &__item{
            width: 238px;
            height: 50px;
            font-size: 11px;
            line-height: 14px;
            margin-left: 8px;
            margin-bottom: 8px;
            &:nth-child(3), &:nth-child(5){
                padding: 0 21px;
            }
        }
    }
}

@media(max-width: 700px){
    .modal-center{
        width: 290px;
        height: 276px;
        border-width: 4px;
        border-radius: 20px;
        &__block{
            flex-direction: column;
            border-width: 2px;
            height: 75%;
            width: calc(100% - 4px);
            left: 2px;
            padding: 8px 0;
            &::before{
                top: -2px;
                left: -2px;
                right: -2px;
                bottom: -2px;
            }
        }
        &__logo{
            width: 55px;
            height: 16px;
        }
        &__info-wrap{
            width: 100%;
            display: flex;
            flex-direction: row;
        }
        &__gradient{
            width: 84px;
            height: 37px;
            margin-left: 7px;
            margin-top: 8px;
            border-radius: 5px;
        }
        &__info{
            width: 82px;
            height: 35px;
            font-size: 9px;
            line-height: 11px;
            text-align: center;
            padding-left: 0;
            border-radius: 5px;
        }
        .info-max{
            display: inline;
        }
        .info-min{
            display: none;
        }
        &__item{
            width: 132px;
            height: 33px;
            border-radius: 5px;
            font-weight: 400;
            font-size: 9px;
            line-height: 11px;
            margin-left: 6px;
            margin-bottom: 6px;
            padding: 0 4px;
            &:nth-child(3), &:nth-child(5){
                padding: 0 8px;
            }
            &:nth-child(6){
                padding: 0 20px;
            }
        }
    }
}